<% title "SPAD.rocks" %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 0%, rgba(30,30,30,0.6) 50%), url('<%= cl_image_path 'background_o8xfe0', :gravity=>"center", class: "banner" %>');">
<div class="container">
  <div class="banner-content">
     <h1>Bring authentic purpose at the heart of your company</h1>
    <p>
      <ul style="list-style-type: none; font-weight: lighter;">
          <li>SPAD.rocks helps your company becoming more purposeful</li>
          <li>Engage employees</li>
          <li>Get your company ready for tomorrow's challenges</li>
          <li>Fullfill your employees deepest aspirations</li>
      </ul>

    </p>

<!--  <% if !user_signed_in? %>
<%= link_to 'Enroll your company', new_user_registration_path, class: 'btn-spad-green-homepage', style: "white-space: nowrap;" %>
 <% else %>
   <%= link_to 'Access expenses management', expenses_path, class: 'btn-spad-green-homepage', style: "white-space: nowrap;"  %>   <% end %>
 -->
</div>
</div>
</div>
<div class="footer">
<ul style="list-style-type: none; padding-top: 20px;">
  <li><a href="">About</a></li>
  <li><a href="">Contact</a></li>
  <li><a href="">Terms and privacy</a></li>
</ul>
</div>

