<% title "SPAD.rocks" %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 0%, rgba(30,30,30,0.6) 50%), url('<%= cl_image_path 'background_o8xfe0', :gravity=>"center", class: "banner" %>');">
<div class="container">
  <div class="banner-content">
     <h1>Manage shared credit cards expenses</h1>
    <p>
      <ul style="list-style-type: none; font-weight: lighter;">
          <li>Enroll your company on SPAD.rocks</li>
          <li>Invite employees</li>
          <li>They easily save their expenses online</li>
          <li>Every month, gather all receipts in a single click !</li>
      </ul>

    </p>
    <% if !user_signed_in? %>
    <%= link_to 'Enroll your company', new_user_registration_path, class: 'btn-spad-green-homepage', style: "white-space: nowrap;" %>
    <% else %>
    <%= link_to 'Access expenses management', expenses_path, class: 'btn-spad-green-homepage', style: "white-space: nowrap;"  %>
    <% end %>
</div>
</div>
</div>
<div class="footer">
<ul style="list-style-type: none; padding-top: 20px;">
  <li><a href="">About</a></li>
  <li><a href="">Contact</a></li>
  <li><a href="">Terms and privacy</a></li>
</ul>
</div>

