.box-outter {
  // background-color: #25CED1;
  // padding: 30px;
  // box-shadow: 0 2px 4px 0 rgba(15,15,15,0.50);
  // border-radius: 14px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.box-inner {
  background-color: white;
  padding: 30px;
  // box-shadow: 2px 2px 3px 0 rgba(109,109,109,0.50);
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}


.form-box-credit-card {
  background: #FFFFFF;
  // box-shadow: 2px 2px 3px 0 rgba(109,109,109,0.50);
  border-radius: 5px;
  padding: 20px;
}

.wrapper-cloud-burst {
  background-color: #FF5E5B;
}
