.category-table > tbody > tr > td {
  padding-top: 17px;
  padding-bottom: 17px;
}

.category-table > tbody > tr > td > button {
  margin: -7px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #25CED1;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 7px;
  left: -15px;
  transition: border-right 0.2s;
}

.arrow-left:hover {
  border-top: 5px solid transparent;
  border-right: 10px solid #FF5E5B;
  border-bottom: 5px solid transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #25CED1;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 7px;
  right: -14px;
  transition: border-left 0.2s;
}

.arrow-right:hover {
  border-top: 5px solid transparent;
  border-left: 10px solid #FF5E5B;
  border-bottom: 5px solid transparent;
}

#cycle-controls {
  position: absolute;
  right: 33px;
  top: 29px;
}

#all-time-cycle-controls {
  position: absolute;
  right: 33px;
  top: 96px;
  margin-bottom: 10px
}
